<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Ecommerce Item -->
    <div class="card" style="padding: 30px;">
      <div class="row">
        <!--ORACLE-->
        <div class="col-md-3 col-12">
          <div class="item-img text-center">
            <a [routerLink]="'/apps/dataModeling-main/configuration/' + 'Oracle'">
              <img class="img-fluid card-img-top" src="assets/images/banner/oracle.webp" style="width: 150px; height: auto;" alt="img-placeholder" />
            </a>
          </div>
        </div>
        <!---/ ORACLE-->


        <!--MYSQL-->
        <div class="col-md-3 col-12">
          <div class="item-img text-center">
            <a [routerLink]="'/apps/dataModeling-main/configuration/' + 'MySQL'">
              <img class="img-fluid card-img-top" src="assets/images/banner/MySQL.png" alt="img-placeholder" style="width: 150px; height: auto;" />
            </a>
          </div>
        </div>
        <!--/MYSQL-->


        <!---POSTGRESS-->
        <div class="col-md-3 col-12">
          <div class="item-img text-center">
            <a [routerLink]="'/apps/dataModeling-main/configuration/' + 'PostgreSQL'">
              <img class="img-fluid card-img-top" src="assets/images/banner/postgresql.webp" style="width: 150px; height: auto;" alt="img-placeholder" />
            </a>
          </div>
        </div>
        <!--/POSTGRESS-->



        <!---SQLSERVER-->
        <div class="col-md-3 col-12">
          <div class="item-img text-center">
            <a [routerLink]="'/apps/dataModeling-main/configuration/' + 'SQLServer'">
              <img class="img-fluid card-img-top" src="assets/images/banner/sqlserver2.png" style="width: 150px; height: auto;" alt="img-placeholder" />
            </a>
          </div>
        </div>
        <!--/SQLSERVER2-->




        <!---MongoDB-->
        <div class="col-md-3 col-12">
          <div class="item-img text-center">
            <a [routerLink]="'/apps/dataModeling-main/configuration/' + 'MongoDb'">
              <img class="img-fluid card-img-top" src="assets/images/banner/mongodb.png" style="width: 150px; height: auto;" alt="img-placeholder" />
            </a>
          </div>
        </div>
        <!--/MongoDB-->



        <!---MAriaDB-->
        <div class="col-md-3 col-12">
          <div class="item-img text-center">
            <a [routerLink]="'/apps/dataModeling-main/configuration/' + 'MariaDB'">
              <img class="img-fluid card-img-top" src="assets/images/banner/MariaDB.png" style="width: 150px; height: auto;" alt="img-placeholder" />
            </a>
          </div>
        </div>
        <!--/MAriaDB-->


        <!--IBM2-->
        <div class="col-md-3 col-12">
          <div class="item-img text-center">
            <a [routerLink]="'/apps/dataModeling-main/configuration/' + 'IBM2'">
              <img class="img-fluid card-img-top" src="assets/images/banner/IBM2.png" style="width: 120px; height: auto;"  alt="img-placeholder" />
            </a>
          </div>
        </div>
        <!--/IBM2-->

       <!--SQLITE-->
        <div class="col-md-3 col-12">
          <div class="item-img text-center">
            <a [routerLink]="'/apps/dataModeling-main/configuration/' + 'SQLite'">
              <img class="img-fluid card-img-top" src="assets/images/banner/sqlLite.png" style="width: 150px; height: auto;" alt="img-placeholder" />
            </a>
          </div>
        </div>
        <!--/SQLLITE-->



      </div>
    </div>
    <!--/ Ecommerce Item -->
  </div>
</div>