<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row match-height">
      <div class="col-lg-4 col-md-4 col-12" style="overflow-x: hidden; height: 650px;">
        <div class="card card-employee-task">
          <div class="card-header">
            <h4 class="card-title">Tables</h4>
          </div>
          
          <div class="card-body">
            <div *ngIf="tblTasks && tblTasks.length > 0">
              <div class="employee-task d-flex" *ngFor="let tbl of tblTasks">
                <input type="checkbox" [(ngModel)]="tbl.selected" (change)="onCheckboxChange(tbl)">
                <h6 style="cursor: pointer;" class="mb-0">{{ tbl }}</h6>
              </div>
            </div>
            <div *ngIf="tblTasks && tblTasks.length === 0">
              No table available.
            </div>
          </div>

        </div>
      </div>

      <div *ngIf="tbl_com" class="col-lg-8 col-md-8 col-12">
        <div class="card card-employee-task">
          <!-- icon start here -->
          <!-- <div class="demo-inline-spacing edit">

                        <div class="avatar bg-secondary">
                            <div class="avatar-content" [ngbTooltip]="'Primary Key'">
                                <span [data-feather]="'key'" [class]="'avatar-icon'"></span>
                            </div>
                        </div>

                         <div class="avatar bg-secondary">
                            <div class="avatar-content" [ngbTooltip]="'Forign Key'">
                                <span [data-feather]="'shuffle'" [class]="'avatar-icon'"></span>
                            </div>
                        </div> 

                        <div class="avatar bg-secondary">
                            <div class="avatar-content" [ngbTooltip]="'Add Column'">
                                <span [data-feather]="'plus-circle'" [class]="'avatar-icon'"></span>
                            </div>
                        </div>

                        <div class="avatar bg-secondary">
                            <div class="avatar-content" [ngbTooltip]="'Delete Column'">
                                <span [data-feather]="'x-circle'" [class]="'avatar-icon'"></span>
                            </div>
                        </div>
                        <div class="avatar bg-secondary">
                            <div class="avatar-content" [ngbTooltip]="'Check Constrain'">
                                <span [data-feather]="'sliders'" [class]="'avatar-icon'"></span>
                            </div>
                        </div>
                    </div> -->
          <!-- icon finish here -->

          <div class="overlay" *ngIf="loading">
            <div class="spinner"></div>
          </div>

      <div class="table-responsive">
            <div style="overflow-x: hidden; height: 600px;" class="p-1">
              <label>SelectAll/DeselectAll Column</label>
              <input type="checkbox" [(ngModel)]="selectAllTrigger" (change)="selectAllColumn()" />
              <div *ngFor="let generatedTable of generatedTables">
                <h2>{{ generatedTable.tableName }}</h2>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Column Name</th>
                      <th>Data Type</th>
                      <th>Size</th>
                      <th>Nulls</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let column of generatedTable.columns">
                      <td class="tdheight">
                        <input [(ngModel)]="column.isSelected" type="checkbox" (change)="isSelect(column)" />
                      </td>
                      <input [(ngModel)]="column.columnName" [disabled]="!column.editable" />
                      <td class="tdheight">
                        <input [(ngModel)]="column.dataType" [disabled]="!column.editable" />
                      </td>
                      <td class="tdheight">
                        <input [(ngModel)]="column.size" [disabled]="!column.editable" /><br>
                        <span *ngIf="!column.size">(Default: 1)</span>
                      </td>
                      <td class="tdheight">
                        <input type="checkbox" [(ngModel)]="column.allowNull" [disabled]="!column.editable" />
                      </td>
                      <td class="tdheight">
                        <button type="button" class="btn btn-secondary btn-icon btn-sm ml-auto"
                          (click)="toggleEdit(column)"><i data-feather="edit" class="mr-50"></i></button>
                          
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <button type="button" class="btn btn-primary" (click)="openModal(modalContent)">View</button>
            </div>
          </div>
          <!-- Table End Here -->

        </div>
      </div>

    </div>
  </div>
</div>

<!-- Selected Column Data Start -->
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Selected Columns Data</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
     <label for="tableName">Table Name</label>
      <input id="tableName" [(ngModel)]="currentTableName" placeholder="Enter Table Name" />
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th></th>
            <th>Column Name</th>
            <th>Data Type</th>
            <th>Size</th>
            <th>Nulls</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let column of selectedColumns" (contextmenu)="onRightClick($event, selectedColumns)">
            <td class="tdheight">
              <input [(ngModel)]="column.isSelected" type="checkbox" (change)="isSelect(column)" />
            </td>
            <td class="tdheight">
              <input [(ngModel)]="column.columnName" [disabled]="!column.editable" />
            </td>
            <td class="tdheight">
              <input [(ngModel)]="column.dataType" [disabled]="!column.editable" />
            </td>
            <td class="tdheight">
              <input [(ngModel)]="column.size" [disabled]="!column.editable" /><br>
              <span *ngIf="!column.size">(Default: 1)</span>
            </td>
            <td class="tdheight">
              <input type="checkbox" [(ngModel)]="column.allowNull" [disabled]="!column.editable" />
            </td>
            <td class="tdheight">
              <button type="button" class="btn btn-secondary btn-icon btn-sm ml-auto"
                (click)="toggleEdit(column)"><i data-feather="edit" class="mr-50"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="createObjTbl()">Create Table</button>
  </div>
</ng-template>
<!-- Selected Column Data End -->